h1 {
    text-align: center;
    margin-bottom:0;
    font-size:1.5em;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
}

h2 {
    text-align: center;
    font-size:.9em;
    margin:.5em;
}

footer {
    text-align: center;
    font-size:.8em;
    margin:1em;
}

hr {
    width:300px;
    height:2px;
    background:black;
    margin-top:1em;
    margin-bottom:1em;
    clear:both;
}

#scoreTop {
    margin-bottom: .5em;
}

#scoreBottom {
    margin-top: .5em;
}

.gameColumn {
    width:50%;
    float:left;
    margin-bottom:2em;
}

.playerMove {
    width:160px;
    float:right;
}

.playerMoveContain {
    width:80px;
    float:right;
}

.playerMoveContain img {
    width:80px;
    height:80px;
    float:right;
}

#resetButton {
    float:left;
    height:35px;
    width:80px;
    background:white;
    border:solid black 3px;
    margin:.5em 0em .5em 1.5em;
    font-weight: bold;
    font-size:.9em;
}

#resetButton:hover {
    background:#dddddd;
}

#resetButton:active {
    background:gray;
    color:white;
}

button {
    float:right;
    height:35px;
    width:80px;
    background:white;
    border:solid black 3px;
    margin-bottom:.25em;
    font-weight: bold;
    font-size:.9em;
}

button:hover {
    background:#dddddd;
}

button:active {
    background:gray;
    color:white;
}

.aiMove {
    width:160px;
    float:left;
}

.aiMoveContain {
    width:80px;
    float:left;
}

.aiMoveContain img {
    width:80px;
    height:80px;
    float:left;
}

#playerMoveText, #aiMoveText {
    font-size:1em;
    text-align:center;
    font-weight: bold;
    visibility: hidden;
}

.result {
    clear:both;
    text-align: center;
    color:red;
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:1em;
    visibility:hidden;
}

.score {
    width:20em;
    display:block;
    margin:auto;
    text-align: center;
}

#playerScore, #aiScore {
    color:red;
    font-size: 2em;
    margin:0 1em;
}


table {
    margin:auto;
    border-collapse:collapse;
}

tr {
    border-bottom: 1px solid #ddd;
    visibility:hidden;
}

tr:hover {
    background-color:#dddddd;
}

td {
    border-bottom:1px solid #ddd;
    padding:.5em;
    text-align: center;
}

.gameControl {
    display:block;
    width:280px;
    margin:auto;
}

.gameControl div {
    float:left;
    font-weight:bold;
    margin:1em .5em;
}

.gameControl label {
    float:left;
    margin:.5em 0;
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 450px) {
    
    h1 {
        margin-bottom:1em;
        font-size:2em;
    }

    h2 {
        font-size:1em;
        margin:.5em;
    }

    footer {
        font-size:1em;
        margin:2em;
    }
    
    hr {
        width:450px;
        margin-top:2em;
        margin-bottom:2em;
    }
    
    .playerMove {
        width:210px;
    }

    .playerMoveContain {
        width:120px;
    }

    .playerMoveContain img {
        width:120px;
        height:120px;
    }

    button {
        height:48px;
        width:90px;
        padding:default;
        font-size:1em;
    }

    .aiMove {
        width:200px;
    }

    .aiMoveContain {
        width:120px;
    }

    .aiMoveContain img {
        width:120px;
        height:120px;
    }
    
    #playerScore, #aiScore {
        font-size: 3em;
        margin:0 1em;
    }

    td {
        width:100px;
        
    }
    
    
}